.columns
  .section
    .section__text
      h1 Admin Dashboard

    .section__text
      h2 Tenure Information
      #admin-table.vr
        .row
          .column
            p Example Contract
          .column
            p Status
          .column
            p Balance
          .column.column__right
            <button class="btn btn_action">Example</button>
      
    .section__text
      h2 Initialize Tenure
      form(method="post")#form
        input(name="horse_owner", type="text", placeholder="horse owner (address)")
        input(name="academy_mode", type="number", placeholder="academy mode")
        input(name="initial_supply", type="number", placeholder="initial $DERC supply")
        input(name="tenure_length", type="number", placeholder="length (in seconds)")
        input(type="submit" value="initialize tenure" class="btn")