.columns
  .section__centered
    .section__thin_text.section__color
      h5 $tone Motherless Racing
      h1 Academy Dashboard
      p.vr#tip Loading...
      button(disabled).btn.vr#login-button Login