.section
  .section__text
    h1 SMR Academy Dashboard
    p.user-row
      | User: 
      span.address-line#user-address-line address retrieval failed

.section
  .section__text
    .table-header
      h2 Enrollment Information
      label(for="active-only-toggle").btn.btn__action active only
    #standard-table.vr.rows
      h4 loading tenures...
      input(type="checkbox")#active-only-toggle.active-only-toggle