.section
  .section__text
    h1 SMR Academy Dashboard
    p.user-row
      | User: 
      span.address-line#user-address-line address retrieval failed

.section
  .section__text
    h2 Tenure Information
    #standard-table.vr.rows