extends layout

block content  
  .page#login
    h1 Login
  .page#admin
    .columns
      .section
        .section__text
          h1 SMR Academy Dashboard
          
      .section
        .section__text
          h1 Hello
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quod sit itaque nam. Et ratione sint impedit quis sapiente dolore.