extends layout

block content
  .topnav
    button#btn-login Metamask Login
    button#btn-logout Logout
  
  .section
    h1 SMR Academy Dashboard
    .section__text
      h4.control-header Universal Parameters
        form#parameters
          label(for="tenure-id") Tenure ID:
          label#tenure-id-error.error-message
          input#tenure-id(name="tenure-id" type="text")
    .section__text
      .control#initialize-tenure
        h4.control-header Initialize Tenure
        form.initialization#initialize-tenure
          label(for="initialize-tenure-horse-owner") Horse Owner:
          label#initialize-tenure-horse-owner-error.error-message
          input#initialize-tenure-horse-owner(name="initialize-tenure-horse-owner" type="text")
          label(for="initialize-tenure-academy-mode") Academy Mode:
          label#initialize-tenure-academy-mode-error.error-message
          input#initialize-tenure-academy-mode(name="initialize-tenure-academy-mode" type="text")
          label(for="initialize-tenure-initial-derc-supply") Initial $DERC Supply:
          label#initialize-tenure-initial-derc-supply-error.error-message
          input#initialize-tenure-initial-derc-supply(name="initialize-tenure-initial-derc-supply" type="text")
          label(for="initialize-tenure-tenure-length") Tenure Length:
          label#initialize-tenure-tenure-length-error.error-message
          input#initialize-tenure-tenure-length(name="initialize-tenure-tenure-length" type="text")
          input(type="submit" value="initialize")#initialize-tenure-submit.submit-button

      .section__text
        h4.control-header Supply Tenure
        form.initialization#supply-tenure
          label(for="supply-tenure-horse-id") Horse ID:
          label#supply-tenure-horse-id-error.error-message
          input#supply-tenure-horse-id(name="supply-tenure-horse-id" type="text")
          input#supply-tenure-submit.submit-button(type="submit" value="supply")
      
      .section__text
        h4.control-header Change Tenure State
        form.state-change#activate-tenure
          input(type="submit" value="activate")#activate-tenure-submit.submit-button
          input(type="submit" value="pause")#pause-tenure-submit.submit-button
          input(type="submit" value="unpause")#unpause-tenure-submit.submit-button
          input(type="submit" value="cancel")#cancel-tenure-submit.submit-button

    .section
      .section__text
        h4.control-header Change Academy Mode
        form.parameter-change#change-academy-mode
          label(for="change-academy-mode-academy-mode") Academy Mode:
          label#change-academy-mode-academy-mode-error.error-message
          input#change-academy-mode-academy-mode(name="change-academy-mode-academy-mode" type="text")
          input(type="submit" value="change academy mode")#change-academy-mode-submit.submit-button

  script.
    const serverUrl = "https://qaphg75pwxkt.usemoralis.com:2053/server";
    const appId = "OUdGGX3gU0g6R9J4sfULWxycb21SAirjMt5cBESU";
    /* Moralis init code */
    Moralis.start({ serverUrl, appId });

    /* Authentication code */
    async function login() {
      let user = Moralis.User.current();
      if (!user) {
        user = await Moralis.authenticate({
          signingMessage: "SMR Academy login",
        })
          .then(function (user) {
            console.log("logged in user:", user);
            console.log(user.get("ethAddress"));
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    }

    async function logOut() {
      await Moralis.User.logOut();
      console.log("logged out");
    }

    document.getElementById("btn-login").onclick = login;
    document.getElementById("btn-logout").onclick = logOut;