extends layout

block content

  .navbar
    h3#logout-button Log Out

  .page#login
    h1#login-button Login

  .page#admin
    .columns
      .section
        .section__text
          h1 Admin Dashboard
          
      .section
        .section__text
          h2 Content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quod sit itaque nam. Et ratione sint impedit quis sapiente dolore.

  .page#standard
    .columns
      .section
        .section__text
          h1 Standard Dashboard
          
      .section
        .section__text
          h2 Content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quod sit itaque nam. Et ratione sint impedit quis sapiente dolore.