extends layout

block content

  .page#landing
    .columns
      .section
        .section__text
          h1 Welcome to the SMR Academy Dashboard

  .page#login-failed
    .columns
      .section
        .section__text
          h1#login-failed-button Login failed, click here to retry

  .page#admin
    .columns
      .section
        .section__text
          h1 Admin Dashboard
          
      .section
        .section__text
          h2 Content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quod sit itaque nam. Et ratione sint impedit quis sapiente dolore.

  .page#standard
    .columns
      .section
        .section__text
          h1 Standard Dashboard
          
      .section
        .section__text
          h2 Content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quod sit itaque nam. Et ratione sint impedit quis sapiente dolore.