@use "sass:math";

.vr {
  margin-top: $base-sizing;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: $base-sizing*2;
}

.btn {
  background-color: white;
  color: black;
  padding: math.div($base-sizing, 2) math.div($base-sizing, 1);
  font-size: .9em;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  min-height: 100vh;

  h5, .tip {
    color: rgba(255 255 255 / 75%);
  }

  h5 {
    margin: 0;
  }

  &__text {
    //max-width: min($base-sizing*25, 100%);
    width: 100%;
    margin-bottom: $base-sizing;
    padding: $base-sizing;
    max-width: min($base-sizing*30, 100%);
    width: 100%;
  }

  &__color {
    background: $primary_color;
    color: white;
    border-radius: $border-radius;
  }
}

form, fieldset {
  flex-wrap: wrap;
  gap: math.div($base-sizing, 2);
  text-align: left;
  background-color: $primary_color;
  border-radius: $border-radius;
  padding: $base-sizing;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page {
  display: none;
}

@media only screen and (min-width: $on-mobile) {
}

@media only screen and (max-width: $on-mobile) {
}