@use "sass:math";

.vr {
  margin-top: $base-sizing;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: $base-sizing*2;
  min-height: 100vh;

  .column {
    max-width: min(100%, $base-sizing*23);
  }
}

.btn {
  background-color: white;
  color: black;
  padding: math.div($base-sizing, 2) math.div($base-sizing, 1);
  font-size: .9em;

  &__action {
    background-color: rgb(229, 229, 229);
    color: rgb(102, 102, 102);
    border-radius: $border-radius * 3;
    height: min-content;
    padding: math.div($base-sizing, 3) math.div($base-sizing, 2);
    transition: $transition-time;
  }
}

.clipboard {
  /*display: block;*/
  /*margin: 4px;*/
  /*padding: 2px;*/
  /*border: 1px solid black;*/
  /*align-items: normal;*/
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  /*height:28px;*/
  /*right: 4px;
  top: 4px;*/
}

svg {
  margin: 2px;
  display: inline-block;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;

  h5, .tip {
    color: rgba(255 255 255 / 75%);
  }

  h5 {
    margin: 0;
  }

  &__text {
    width: 100%;
    padding: $base-sizing;
    /*max-width: min($base-sizing*40, 100%;*/
  }

  &__thin_text {
    width: 100%;
    padding: $base-sizing;
    max-width: min($base-sizing*40, 100%);
  }

  &__color {
    background: $primary_color;
    color: white;
    border-radius: $border-radius;
    box-shadow: var(--shadow);
  }
}

form, fieldset {
  flex-wrap: wrap;
  gap: math.div($base-sizing, 2);
  text-align: left;
  background-color: $primary_color;
  border-radius: $border-radius;
  padding: $base-sizing;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page {
  display: none;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: $base-sizing;
}

.row {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 0 4px rgb(0 0 0 / 16%);
  transition: $transition-time;
  border-radius: $border-radius;
  padding: math.div($base-sizing, math.div(4, 3));
  width: 100%;
  margin: 0;
  grid-gap: $base-sizing 0;
  font-size: .9em;

  .columns {
    &-2 {
      display: flex;
      flex: 3;
      gap: $base-sizing;
    }

    &-1 {
      display: flex;
      flex: 1;
      justify-content: right;
      gap: math.div($base-sizing, 2);
      flex-wrap: wrap;
    }
  }

  &:hover {
    box-shadow: var(--shadow);
  }

  data {
    font-size: .9em;
    color: rgba(0 0 0 / 70%);
    
    &.green_text {
      color: $green_color;
    }
  }

  .column {
    color: black;
    flex: 1;

    &__right {
      flex: 2;
      display: flex;
      justify-content: end;
    }
  }
}

.swal2-popup {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-size: 1.5rem;
}

input {
  padding: math.div($base-sizing, 2) $base-sizing;
  border-radius: $border-radius;
  outline: none;
  border: none;
  width: 100%;
  color: black;
}

@media only screen and (min-width: $on-mobile) {
}

@media only screen and (max-width: $on-mobile) {
  .row {
    flex-direction: column;
    padding: 0 30px;
  }
}