@use "sass:math";

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: $base-sizing*2;
  padding: $base-sizing*2;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: max($base-sizing*15, 45%);

  &__text {
    //max-width: min($base-sizing*25, 100%);
    width: 100%;
    margin-bottom: $base-sizing;
  }
}

form, fieldset {
  flex-wrap: wrap;
  gap: math.div($base-sizing, 2);
  text-align: left;
  background-color: $rust;
  border-radius: $border-radius;
  padding: $base-sizing;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media only screen and (min-width: $on-mobile) {
}

@media only screen and (max-width: $on-mobile) {
}